@keyframes fadeInUp {
  from {
    translate: 0% 50%;
    opacity: 0;
  }

  to {
    translateY: 0%;
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  from {
    translate: 0%;
    opacity: 1;
  }

  to {
    translate: -100%;
    opacity: 0;
  }
}

@keyframes fadeInRight {
  from {
    translate: 100%;
    opacity: 0;
  }

  to {
    translate: 0%;
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  from {
    translate: 0%;
    opacity: 1;
  }

  to {
    translate: 100%;
    opacity: 0;
  }
}

@keyframes fadeInLeft {
  from {
    translate: -100%;
    opacity: 0;
  }

  to {
    translate: 0%;
    opacity: 1;
  }
}

[hidden] {
  display: none !important;
}

html,
body,
.screen {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.screen {
  box-sizing: border-box;
  padding: 1rem;
}

#mainScreen {
  align-content: center;
  display: grid;
  gap: 2rem;
}

#welcomeTitle {
  animation: 1s fadeInUp;
  display: grid;
  font-size: 3rem;
  font-style: italic;
  line-height: 3.5rem;
}

#welcomeStart {
  animation: 1s fadeInUp;
  width: 10rem;
}

.personContainer,
#totalContainer {
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.personContainer {
  grid-template-columns: auto 1fr auto auto;
}

#totalContainer {
  grid-template-columns: 1fr auto;
}

input {
  height: 2.25rem;
  min-width: 2.25rem;
}